{% extends 'base.html.twig' %}

{% block title %}Liste Sous-categories
{% endblock %}

{% block pagecontent %}
	<h1>Liste des Sous-categories</h1>
		<a class="linkCreateNew" href="{{ path('app_sub_category_new') }}">Ajouter sous-categorie</a>


	<div class="tableGeneral">
		<table>
			<thead>
				<tr>
					<th>{{ knp_pagination_sortable(
                    sub_categories,
                    'Nom',
                    'name')|raw }}</th>
					<th>{{ knp_pagination_sortable(
                    sub_categories,
                    'Description',
                    'description')|raw }}</th>
                    <th>{{ knp_pagination_sortable(
                    sub_categories,
                    'Actions',
                    'action')|raw }}</th>
				</tr>
			</thead>

			<tbody>
				{% for sub_category in sub_categories %}
					<tr>
						<td>{{ sub_category.name }}</td>
						<td>{{ sub_category.description }}</td>

						<td class='actionBtnContainer'>
							<a class="actionBtn" href="{{ path('app_sub_category_show', {'id': sub_category.id}) }}">show</a>
							<a class="actionBtn" href="{{ path('app_sub_category_edit', {'id': sub_category.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="4">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="pagination">
			{{ knp_pagination_render(sub_categories) }}
		</div>
	</div>


{% endblock %}
