{% extends 'base.html.twig' %}

{% block title %}Gallery
{% endblock %}

{% block pagecontent %}
	<h1>Gallery</h1>

	<div class="tableGeneral ShowTable showNft">
		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ gallery.id }}</td>
				</tr>
				<tr>
					<th>Nom</th>
					<td>{{ gallery.name }}</td>
				</tr>
				<tr>
					<th>Rendu Publique</th>
					<td>{{ gallery.isPublic ? 'Oui' : 'Non' }}</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{ gallery.description }}</td>
				</tr>
				<tr>
					<th>Date de création</th>
					<td>{{ gallery.creationDate ? gallery.creationDate|date('d-m-Y') : '' }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="bottomBtnShow">
		<a class="btnToBack" href="{{ path('app_gallery_index') }}">Retout</a>

		<a class="btnToBack" href="{{ path('app_gallery_edit', {'id': gallery.id}) }}">Éditer</a>

		{{ include('gallery/_delete_form.html.twig') }}
	</div>
{% endblock %}
