{% extends 'base.html.twig' %}

{% block title %}Liste Nfts
{% endblock %}

{% block pagecontent %}
	<h1>Liste des nfts</h1>
	<a class="linkCreateNew" href="{{ path('app_nft_new') }}">Ajouter nft</a>

	<div class="tableGeneral">
		<table class="table">
			<thead>
				<tr>
					<th>{{ knp_pagination_sortable(
                    nfts,
                    'Nom',
                    'name')|raw }}</th>

					<th>{{ knp_pagination_sortable(
                    nfts,
                    'Createur',
                    'creator')|raw }}</th>

					<th>{{ knp_pagination_sortable(
                    nfts,
                    'Date de création',
                    'CreationDate')|raw }}</th>

					<th>{{ knp_pagination_sortable(
                    nfts,
                    'Nft',
                    'nftPath')|raw }}</th>

					<th>{{ knp_pagination_sortable(
                    nfts,
                    'Prix ETH',
                    'Price')|raw }}</th>

					<th>{{ knp_pagination_sortable(
                    nfts,
                    'Quantité',
                    'quantity')|raw }}</th>

					<th>{{ knp_pagination_sortable(
                    nfts,
                    'Actions',
                    'action')|raw }}</th>
				</tr>

			</thead>
			<tbody>
				{% for nft in nfts %}
					<tr>
						<td>{{ nft.name }}</td>
						<td>{{ nft.creator }}</td>
						<td>{{ nft.creationDate ? nft.creationDate|date('d-m-Y') : '' }}</td>
						<td>
							<img class="imgNft" src='{{ nft.nftPath }}'></td>
						<td>{{ nft.price }}</td>
						<td>{{ nft.quantity }}</td>

						<td class='actionBtnContainer'>
							<a class="actionBtn" href="{{ path('app_nft_show', {'id': nft.id}) }}">show</a>
							<a class="actionBtn" href="{{ path('app_nft_edit', {'id': nft.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="16">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="pagination">
			{{ knp_pagination_render(nfts) }}
		</div>
	</div>

{% endblock %}
