

<header>
	<nav>
		<div class="firstContain">
			{% if app.user %}
				<span class="connected-indicator">
					<i class="fas fa-check-circle"></i>
					Connecté
				</span>
			{% endif %}

			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<a href="{{ path('app_logout') }}" class="deconnexionBTN">Déconnexion</a>
			{% endif %}

			<div class="containerH1">
				<a href="http://localhost:4200/home" target="blank"class="animated-button1"> 
				<span></span>
                <span></span>
            	<span></span>
                <span></span>
				<h1>Mysthicity</h1> </a>
			</div>
			<div class="containerH2">
				<h2>Tableau de bord Admin</h2>
			</div>
		</div>


		<div class="secondContain">
			<div class="listNav">
				<ul>
					<a href="{{ path('app_user_index') }}" <li>Utilisateurs</li></a>
					<a href="{{ path('app_nft_index') }}" <li>NFTs</li></a>
					<a href="{{ path('app_gallery_index') }}" <li>Galeries</li></a>
					<a href="{{ path('app_category_index') }}" <li>Catégories</li></a>
					<a href="{{ path('app_sub_category_index') }}" <li>Sous-Catégories</li></a>
					<a href="{{ path('app_comment_index') }}" <li>Commentaires</li></a>
					<a href="{{ path('app_stats') }}" <li>Statistiques</li></a>
				</ul>

			</div>
		</div>
		<div class="thirdContain">
		<a href="{{ path('app_eth') }}"	<p>Cours ETH</p></a>
		</div>
	</nav>

</header>
