{% extends 'base.html.twig' %}

{% block title %}liste utilisateurs{% endblock %}
{% block pagecontent %}

        <h1>Liste des utilisateurs</h1>
        <a class="linkCreateNew" href="{{ path('app_user_new') }}">Ajouter utilisateur</a>

        <div class="tableGeneral">
            <table>
                <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(
                        users,
                        'Email',
                        'email')|raw }}</th>
                        <th>{{ knp_pagination_sortable(
                        users,
                        'Prénom',
                        'firstname')|raw }}</th>
                        <th>{{ knp_pagination_sortable(
                        users,
                        'Nom',
                        'lastname')|raw }}</th>
                        <th>{{ knp_pagination_sortable(
                        users,
                        'Pseudonyme',
                        'username')|raw }}</th>
                        <th>{{ knp_pagination_sortable(
                        users,
                        'Homme',
                        'isman')|raw }}</th>
                        <th>{{ knp_pagination_sortable(
                        users,
                        'Date de naissance',
                        'birthdaydate')|raw }}</th>
                        <th>{{ knp_pagination_sortable(
                        users,
                        'Actions',
                        'action')|raw }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.email }}</td>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.lastname }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.isMan ? 'Oui' : 'Non' }}</td>
                            <td>{{ user.birthdayDate ? user.birthdayDate|date('d-m-Y') : '' }}</td>
                            <td class='actionBtnContainer'>
                                <a class="actionBtn" href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                                <a class="actionBtn" href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination">{{ knp_pagination_render(users) }}</div>
        </div>
  
{% endblock %}
